{% extends "base.html" %}
{% block content %}
<div class="row align-items-start">
    <form id="formAuto" class="row align-items-start"  method="POST">
        {{ form.csrf_token }}
        <div class="col">
            {{ form.query1(class_="form-select") }} 
            {{ form.query2(class_="form-select") }} 
            {{ form.query3(class_="form-select") }} 
        </div>
        <div class="col">
            {{ form.result(class_="col",rows="10",cols="50") }} 
        </div>
    </form>
</div>

{% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}

<script>
    formAuto = new FormAutoUpdate("#formAuto")
</script>

{% endblock %}