{% extends "base.html" %}
{% block content %}
<br>
<br>

<h3>
    Selectionner élément de recherche :  
    <select name="" id="criteria_1">
        <option value="">Individus</option>
        <option value="">Process</option>
        <option value="">Composant</option>
    </select>
    <br>
    Selectionner critère de recherche 
     <select name="" id="criteria_2">
        <option value=""> Donnée</option>
        <option value=""> Règlementation</option>
     </select>
     <br>
     Sélectionner instance de critère
     <select name="" id="criteria_3">
        {% for i in instances_criteria %}
            <option value="">{{ i }}</option>
        {% endfor %}
     </select>
    
</h3>
<br>
<br>
<br>
<br>
<div class="row">
    <textarea class="col" name="" id="" cols="30" rows="10" disabled>
        {% for i in instances_criteria %}
            {{ i }}
        {% endfor %}
    </textarea>    
</div>

{% endblock %}