{% extends "base.html" %}
{% block content %}
<br>
<br>

<div class="row align-items-start">
    <form id="formAuto" class="row align-items-start"  method="POST">
        {{ form.csrf_token }}
        <div class="row">
            {{ form.query1.label }}
            {{ form.query1(class_="form-select") }} 
            {{ form.query2.label }}
            {{ form.query2(class_="form-select") }} 
            {{ form.query3.label }}
            {{ form.query3(class_="form-select") }} 
        </div>
        <div class="row">
            {{ form.result(class_="col",rows="10",cols="50") }} 
        </div>
    </form>
</div>

<script>
    formAuto = new FormAutoUpdate("#formAuto")
</script>

{% endblock %}