{% extends "base.html" %}
{% block content %}
<br>
<br>

<h3>
    Quels sont les  
    <select name="" id="">
        <option value="">Action</option>
        <option value="">Action</option>
        <option value="">Process</option>

    </select>
     qui sont impliqués dans le traitement <br> d'une donnée réglementé par 
     <select name="" id="">
        <option value="">EAR Norm</option>
     </select>
    
</h3>
<br>
<br>
<br>
<br>
<div class="row">
    <textarea class="col" name="" id="" cols="30" rows="10" disabled>
        Transfer EAR Data
        GrantAccess EAR Data
        ReceiveAccess EAR Data
    </textarea>    
</div>

{% endblock %}